.custom-container {
  max-width: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.row-section {
  flex: 1;
}

.col-section {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.counter-container {
}

.counter-text {
  font-size: 64px;
}

.count-button {
  width: 70px;
  height: 70px;
  border-radius: 9999px;
}